.App {
  text-align: center;
}

.tree-node {
  position: relative;
}

.tree-node::before {
  content: "";
  position: absolute;
  top: 50px;
  left: 10px; 
  bottom: 0;
  width: 1px;
  background: #ccc;
}

.tree-node:last-child::before {
  bottom: 50%;
}